@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap'); */

/* body { */
/*   font-family: 'Open Sans', sans-serif; */
/* } */

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media print {
  @page {
    size: calc(210px * 5) calc(297px * 6);
    /* padding: 5em 20%; */
    margin: 5em 0;
  }
  html, body {
    overflow: visible;
    position: absolute;
    left: 5em;
    right: 5em;
  }
}

.markdown-area ul {
  list-style: square !important;
  padding-left: 1rem;
}

.markdown-area li {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.markdown-area p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.markdown-area > p {
  margin-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.markdown-area h1,
.markdown-area h2,
.markdown-area h3,
.markdown-area h4,
.markdown-area h5,
.markdown-area h6 {
  font-weight: bold;
  font-color: gray;
  margin-top: 2rem;
}

.markdown-area hr {
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.markdown-area h1 { font-size: 2rem; }
.markdown-area h2 { font-size: 1.5rem; }

.markdown-area {
  font-size: 1.18rem;
}

.markdown-area code {
  background-color: lightgray;
  border-radius: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-weight: 600;
}

.markdown-area u {
  text-decoration: underline solid;
  text-decoration-color: #AAAAAA;
  text-decoration-thickness: 0.2rem;
}

.markdown-area blockquote {
  background-color: lightgray;
  border-left: 0.25rem solid gray;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.markdown-area blockquote h3 {
  margin-top: 0.5rem;
}


.markdown-area a {
  color: #0069c2;
  text-decoration: underline;
}

body {
  background-color: #FFFFFF;
  /* background-color: #DDDDFF; */
}


.markdown-area img {
  margin: 0 auto;
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 5px;
}

img + em {
  margin: 0 auto;
  display: block;
  background-color: rgb(219 223 229);
  color: rgb(31 41 55);
  font-weight: 500;
  padding-left: 0.3em;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 5px;
}

em + img {
  margin: 30px 30px;
}
